# =========================================
# Python
# =========================================

venv/
__pycache__/
*.pyc

# =========================================
# Docs
# =========================================
.AI/
handoff.md

# =========================================
# Database
# =========================================

*.db
last_prices.json

# =========================================
# Services/ Url Resolvers
# =========================================

services/url_resolvers/carrefour_url_resolver.py
services/url_resolvers/corteingles_url_resolver.py

# =========================================
# Enviroment Variables
# =========================================

.env

# =========================================
# IDE
# =========================================

.vscode/

# =========================================
# OS Files
# =========================================

.DS_Store
.gitignore

# =========================================
# Tests
# =========================================
project_tests/
