# =========================================
# Python
# =========================================

venv/
__pycache__/
*.pyc

# =========================================
# Database
# =========================================

*.db
last_prices.json

# =========================================
# Enviroment Variables
# =========================================

.env

# =========================================
# IDE
# =========================================

.vscode/

# =========================================
# OS Files
# =========================================

.DS_Store
.gitignore

# =========================================
# Tests
# =========================================
project_tests/
