# =========================================
# PYTHON
# =========================================

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# =========================================
# DATABASE
# =========================================

# SQLite databases
*.db

# =========================================
# ENVIRONMENT VARIABLES / SECRETS
# =========================================

.env

# =========================================
# RUNTIME FILES
# =========================================

last_prices.json

# =========================================
# PLAYWRIGHT
# =========================================

fnac_profile/
amazon_profile/

# =========================================
# IDE
# =========================================

.vscode/

# =========================================
# OS FILES
# =========================================

.DS_Store